body {
    background: #222831;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #31363F;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
}

h1 {
    color: #fff;
    margin: 8px 0;
    background: hsla(120, 6%, 90%, 1);
    background: linear-gradient(45deg, hsla(120, 6%, 90%, 1) 0%, rgb(75, 91, 158) 100%);
    background: -moz-linear-gradient(45deg, hsla(120, 6%, 90%, 1) 0%, rgb(75, 91, 158) 100%);
    background: -webkit-linear-gradient(45deg, hsla(120, 6%, 90%, 1) 0%, rgb(75, 91, 158) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#E4E7E4", endColorstr="#0A1647", GradientType=1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
}

#cityInput {
    border-radius: 5px;
}

button {
    background: #76ABAE;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}

button:hover {
    color: black;
    background: #EEEEEE;
}

.weather-info {
    margin-top: 10px;
}

#weather-icon {
    width: 250px;
    height: 250px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}

#temp-div p {
    color: #fff;
    font-size: 70px;
}

p {
    color: #fff;
    font-size: medium
}

#invalidInput {
    display: none;
    color: #fff;
}
